/* Root*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s;
}

/* 'Todo.jsx' */
.TodoAppContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:40px auto;
}
.TodoAppContainer h1{
    font-family: 'Oswald', sans-serif;
    margin:20px;
    font-size:1.825rem;
}
.todoContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 'TodoSearch.jsx' */
.todoContainer input{
    outline:none;
    width:200px;
    height:30px;
    border:transparent;
    border-bottom: solid #808282;
    padding:8px;
    margin-bottom: 10px;
}
.todoContainer button{
    border:transparent;
    outline:none;
    height:30px;
    padding:3px;
    cursor:pointer;
    font-weight: bold;
    background-color: transparent;
    border-bottom: solid #808282;
}
.todoContainer button:hover{
    border-bottom: solid 3px #4de94d;
    animation: btn 1s alternate;
}
@keyframes btn{
    0%{transform:translate(0);}
    20%{transform:translateY(-3px);}
    40%{transform:translateY(-1px);}
    60%{transform:translateY(-2.5px);}
    80%{transform:translateY(-1px);}
    100%{transform:translateY(0);}
}

/* 'TodoLists.jsx' */

.todoContainer .todoList-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1px 8px;
    min-width: 200px;
    margin-bottom: 10px;
    border-radius: 3.6px;
    border:transparent;
    border-bottom: solid 4px rgba(255,118,20,1);
}
.todoList-container:nth-child(4n+1){
    border-bottom-color: rgba(255,12,241,1);
}
.todoList-container:nth-child(4n+2){
    border-bottom-color: rgba(93,12,255,1);
}
.todoList-container:nth-child(4n+3){
    border-bottom-color: rgba(20,159,255,1);
}
.todoList-container .check{
    text-decoration: line-through;
}
.todoList-container .todos{
    cursor:pointer;
    font-size: 1rem;
}
.todos-icon{
    margin-left:5px;
    cursor: pointer;
    font-size: 1.2rem;
}
.todos-icon .star-off{
    color:#808282;
}
.todos-icon .star-off:hover{
    color:#fdcc0d;
    transition:0.2s;
    transform: scale(1.05);
}
.todos-icon .star-on{
    color:#fdcc0d;
}
.todos-icon .removeBtn{
    color:#808282;
    margin-left:3px;
}
.todos-icon .removeBtn:hover{
    transition:0.1s;
    color:#d21404;
}



